// Помощники
// @import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
// @import 'main/parameters';// переменные

//Общее
@import 'main/reset'; // сброс стилей для кроссбраузерности
// @import 'main/common'; // общие стили
// @import 'main/grid'; // базовая 12ти колоночная сетка для сайта(сделана на основе bootstrap), классы .container/.row/.col-md-6 и т.д.

//Компоненты(все файлы в папке components) -> добавляются автоматически в стили, импортить сюда их не нужно

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах

$text-color: #111111;
$color-base: #3D4853;
$color-white: #ffffff;

$bg-color-dark: $text-color;
$bg-color-white: $color-white;
$bg-special: $color-base;

// $text-color: $color-base;
$color-light: $color-white;
$color-light-special: #BDCAD8;

body {
  font-family: 'Roboto';
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1288px;
  padding: 0 20px;
  margin: 0 auto;
}
%section-title {
  font-size: 72px;
  line-height: 120%;
  font-weight: 400;
  color: $text-color;
  @media (max-width: 768px) {
    font-size: 48px;
  }
  @media (max-width: 576px) {
    font-size: 36px;
  }
}
%section-slogan {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
%section-text {
  font-size: 24px;
  line-height: 150%;
  color: $text-color;
  @media (max-width: 576px) {
    font-size: 18px;
  }
}
%btn {
  text-align: center;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: $text-color;
  background: $bg-color-white;
  border-radius: 5px;
  line-height: 11px;
  height: 34px;
  @extend %btn-hover;
}
%btn--big {
  @extend %btn;
  font-size: 13px;
  line-height: 14px;
  padding: 16px 24px 16px;
  letter-spacing: 2.1px;
  height: 48px;
}

%text-gradient {
  background: rgb(235,144,56);
  background: radial-gradient(circle, rgba(235,144,56,1) 0%, rgba(243,192,198,1) 33%, rgba(243,195,207,1) 66%, rgba(141,196,243,1) 100%);
}

%text-hover {
  @media (min-width: 1024px) {
    transition: all .3s;
    &:hover {
      color: rgb(255, 225, 200);
      text-shadow: 0 0px 6px rgba(255, 225, 200, .2);
    }
  }
}

%btn-hover {
  @media (min-width: 1024px) {
    transition: all .3s;
    &:hover {
      background-color: rgb(200, 220, 255);
      box-shadow: 0 0px 8px rgba(200, 220, 255, .2);
    }
  }
}

.header {
  background-color: $bg-color-dark;
  padding: 15px 0 5px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-img {
    width: 100%;
  }
  &__navigation {
    color: $color-light;
    display: flex;
  }
  &__navigation-check {
    display: none;
  }
  &__navigation-label {
    display: none;
  }
  &__navigation-list {
    display: flex;
    font-size: 0;
  }
  &__navigation-item {
    margin: auto;
  }
  &__navigation-link {
    font-size: 16px;
    line-height: 16px;  
    margin-right: 50px;
    user-select: none;
    @extend %text-hover;
  }
  &__login {
    @extend %btn;
    padding: 12px 15px 12px;
    margin-right: 14px;
  }
}

.big-slider {
  margin-bottom: 90px;
  &__img {
    border-radius: 30px;
    max-width: 100%;
    width: 100%;
  }
  &__wrapper {
    padding-top: 73px;
  }
  &__slide {
    &:nth-child(1),
    &:nth-last-child(1) {
      bottom: 73px;
    }
    &:nth-child(2),
    &:nth-last-child(2) {
      bottom: 41px;
    }
  }
}

.first {
  background-color: $bg-color-dark;
  padding-bottom: 46px;
  padding-top: 108px;
  &__slogan {
    margin-bottom: 95px;
    font-size: 157px;
    line-height: 1.04;
    background-color: $bg-color-dark;
    color: $color-light;
    mix-blend-mode: darken;
  }
  &__slogan-layer {
    max-width: 1000px;
    @extend %text-gradient;
  }
  &__title-layer {
    margin: 0 auto;
    max-width: 800px;
    @extend %text-gradient;
  }
  &__btn {
    @extend %btn--big;
    max-width: 182px;
    display: block;
    margin: 0 auto 120px;
  }
  &__title {
    font-size: 36px;
    line-height: 162%;
    font-weight: 400;
    text-align: center;
    background-color: $bg-color-dark;
    color: $color-light;
    mix-blend-mode: darken;
    padding: 24px 0;
  }
  &__business-card {
    position: relative;
    min-height: 966px;
  }
  &__business-card-img {
    max-width: 100%;
  }
  &__business-card--front {
    position: absolute;
    left: 9%;
    margin-bottom: 90px;
  }
  &__business-card--back {
    position: absolute;
    top: 495px;
    right: 9%;
  }
}

.company {
  background-color: $bg-color-white;
  padding: 114px 0;
  &__slogan {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
    margin-bottom: 25px;
  }
  &__wrapper {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__wrapper-img {
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__logo {
    max-width: 100%;
  }
}

.custom {
  background-color: $bg-color-white;
  background: radial-gradient(100% 100% at 18.54% 0%, rgba(141, 196, 243, 0.62) 20.83%, rgba(234, 151, 78, 0.65) 46.35%, #E4C3D4 86.98%);
  &__wrapper {
    background:url(../imgs/custom/custom-foto.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
  }
  &__inner {
    padding: 274px 0;
    max-width: 572px;
    margin-left: auto;
  }
  &__slogan {
    @extend %section-slogan;
    color: #111111;
    margin-bottom: 13px;
  }
  &__title {
    @extend %section-title;
    max-width: 490px;
    margin-bottom: 36px;
  }
  &__text {
    @extend %section-text;
  }
}

.products {
  background-color: $bg-color-dark;
  color: #BABABA;
    padding: 232px 0 214px;
  &__wraper {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 570px;
  }
  &__slogan {
    @extend %section-slogan;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  &__title {
    @extend %section-title;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
    color: $color-light;
    margin-bottom: 30px;
  }
  &__text {
    @extend %section-text;
    text-align: center;
    color: #BABABA;
    margin: 0 15px;
  }
  &__aside {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 205px;
  }
  &__aside-cell {
    min-width: 70px;
    margin-bottom: 78px;
    display: flex;
    &:nth-child(odd) {
      margin-right: 50px;
    }
  }
  &__aside-icon {
    display: inline-block;
    margin: 0 auto;
  }
}

.experience {
  padding: 175px 0 142px;
  background: $bg-color-white;
  color: $text-color;
  &__slogan {
    @extend %section-slogan;
    margin-bottom: 20px;
  }
  &__title {
    @extend %section-title;
    max-width: 654px;
    margin-bottom: 70px;
  }
  &__text {
    @extend %section-text;
    padding: 0 0 95px 0;
    max-width: 510px;
  }
  &__example {
    display: flex;
    justify-content: space-between;
    margin-bottom: 230px;
  }
  &__example-box {
    max-width: 640px;
    padding: 0 10px;
  }
  &__img {
    max-width: 100%;
    filter: drop-shadow(8px 16px 36px rgba(61, 72, 83, 0.2));
  }
  &__advantages {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
  }
  &__advantages-box {
    max-width: 385px;
    position: relative;
    margin: 0 20px;
    &:nth-child(1)::before {
      content: "";
      position: absolute;
      height: 36px;
      width: 36px;
      display: inline-block;
      background-color: #FCECDC;
      border-radius: 50%;
      top: -46px;
      left: 0;
    }
    &:nth-child(2)::before {
      content: "";
      position: absolute;
      height: 36px;
      width: 36px;
      display: inline-block;
      background-color: #EAF4FC;
      border-radius: 50%;
      top: -46px;
      left: 0;
    }
    &:nth-child(3)::before {
      content: "";
      position: absolute;
      height: 36px;
      width: 36px;
      display: inline-block;
      background-color: #FBEDF1;
      border-radius: 50%;
      top: -46px;
      left: 0;
    }
  }
  &__advantages-title {
    font-size: 36px;
    line-height: 133%;
    max-width: 315px;
    margin-bottom: 24px;
  }
  &__advantages-text {
    font-size: 16px;
    line-height: 26px;
  }
}

.offer {
  background-color: $bg-special;
  padding: 60px 0 36px;
  &__wrapper {
    display: flex;
    // align-items: center;
    min-height: 620px;
    // background-image: url(../imgs/offer/offer-foto.jpg);
    // background-repeat: no-repeat;
    // background-position: 83% center;
    position: relative;
  }
  &__img {
    width: 100%;
  }
  &__img-box {
    position: absolute;
    right: 8.5%;
    top: 10%;
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: -12%;
      top: 77%;
      width: 358px;
      height: 183px;
      background-image: url(../imgs/offer/parallelogram.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__inner {
    z-index: 2;
    max-width: 728px;
  }
  &__title {
    @extend %section-title;
    font-size: 64px;
    color: $color-light;
    max-width: 660px;
    margin: 150px 0 25px;
  }
  &__btn {
    @extend %btn--big;
  }
}

.footer {
  background-color: $bg-special;
  padding: 64px 0 45px;
  font-size: 14px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    &--last {
      margin-top: 18px;
    }
  }
  &__group {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    &--main {
      flex: 0 0 22%;
    }
    &--using {
      flex: 0 0 20%;
    }
    &--resources {
      flex: 0 0 25%;
    }
    &--company {
      flex: 0 0 14%;
    }
    &--follow {
      flex: 0 0 19%;
    }
  }
  &__box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
  }
  &__logo {
    margin-bottom: 20px;
    width: 24px;
    height: 34px;
  }
  &__text {
    line-height: 24px;
    color: $color-light-special;
    max-width: 170px;
  }
  &__box-btn {
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border: 2px solid $color-light-special;
    border-radius: 5px;
    padding: 12px 17px 13px;
    color: $color-light;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 4px;
    @extend %text-hover;
    &:hover {
      border-color: rgb(200, 220, 255);
      box-shadow: 0 0px 10px rgba(200, 220, 255, .2);
    }
  }
  &__box-title {
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-light-special;
    margin-bottom: 35px;
    font-weight: 400;
  }
  &__copyright {
    color: $color-light;
    margin-bottom: 9px;
  }
  &__copyright-basic {
    font-size: 11px;
    line-height: 21px;
  }
  &__copyright-law {
    font-size: 12px;
    line-height: 12px;
    margin-right: 12px;
  }
  &__box-item {
    margin-bottom: 15px;
  }
  &__box-link {
    display: inline-block;
    font-size: 14px;
    line-height: 100%;
    color: $color-light;
    cursor: pointer;
    @extend %text-hover;
    &--new {
      background: #445260;
      border-radius: 8px;
      position: relative;
      padding: 5px 50px 5px 5px;
      margin-left: -5px;
      margin-top: 8px;
      display: inline-block;
      &::after {
        position: absolute;
        content: "";
        right: 10px;
        top: 0px;
        display: block;
        width: 24px;
        height: 24px;
        background: url(../imgs/footer/new.svg);
        background-size: cover;
        background-position: center;
        z-index: 3;
      }
    }
  }
  &__box-social-link {
    cursor: pointer;
  }
  &__location {
    flex: 0 0 58%;
    display: flex;
  }
  &__location-inner {
    position: relative;
    left: 60.5%;
    top: -36%;
  }
  &__location-plcae {
    color: $color-light;
    font-size: 12px;
    line-height: 21px;
  }
}

.social-icon {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  fill: #fff;
  transition: all .2s;
  &--facebook:hover {
    fill: #3b5998;
  }
  &--pinterest:hover {
    fill: #c8232c;
  }
  &--instagram:hover {
    fill: #3f729b;
  }
  &--twitter:hover {
    fill: #00acee;
  }
}


@media (max-width: 1460px) {
  .experience__example {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1150px) {
  .experience__example {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1050px) {
  .products {
    padding: 60px 0;
    &__wraper {
      display: block;
    }
    &__aside {
      max-width: 90%;
      margin: 60px auto 70px;
    }
    &__aside-cell {
        margin-bottom: 0px;
      &:nth-child(odd) {
        margin-right: 0px;
      }
    }
    &__content {
      max-width: 100%;
      margin-bottom: 50px;
    }
  }
}


@media (max-width: 991px) {
  .big-slider {
    margin-bottom: 100px;
    &__wrapper {
      padding-top: 0;
    }
    &__slide {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-last-child(1),
      &:nth-last-child(2) {
        bottom: 0;
      }
    }
  }
  .header {
    &__navigation {
      position: relative;
    }
    &__navigation-list {
      display: none;
      position: absolute;
      right: -5px;
      top: -8px;
      z-index: 5;
      background: $bg-special;
      opacity: .96;
      padding-top: 50px;
      z-index: 1;
      border-radius: 5px;
    }
    &__navigation-item {
      display: block;
      font-size: 28px;
      padding: 6px 35px 8px;
      border-bottom: 1px solid $bg-color-dark;
    }
    &__navigation-label {
      user-select: none;
      font-size: 26px;
      display: block;
      margin: 0 16px;
      order: 3;
      z-index: 2;
      cursor: pointer;
    }
    &__login {
      z-index: 2;
      margin-right: 40px;
    }
  }
  #navigation-check:checked ~ .header__navigation-list {
    display: block;
  }
  .first {
    &__slogan {
      font-size: 100px;
      padding-right: 20%;
    }
    &__business-card {
      padding: 0 30px 30px;
      min-height: auto;
    }
    &__business-card--front {
      position: initial;
      text-align: center;
    }
    &__business-card--back {
      position: initial;
      text-align: center;
    }
  }
  .company {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__wrapper-img {
      flex: 0 0 50%;
      margin-bottom: 40px;
      justify-content: space-around;
    }
  }
  .experience {
    &__advantages-title {
      max-width: 100%;
    }
    &__advantages {
      margin: 0;
      display: block;
    }
    &__advantages-box {
      margin: 0 0 40px;
      max-width: 100%;
      padding-left: 50px;
      padding-right: 30px;
      margin-bottom: 40px;
      &:nth-child(1)::before,
      &:nth-child(2)::before,
      &:nth-child(3)::before {
        left: 0px;
        top: 5px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .custom {
    .container {
      padding: 0;
    }
    &__wrapper {
      background-position: center;
      background-size: cover;
    }
    &__inner {
      padding: 180px 20px 50px;
      max-width: 572px;
      margin: 0 auto;
    }
  }
  .offer {
    &__wrapper {
      display: block;
      min-height: 0;
    }
    &__img-box {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      max-width: 640px;
      &:after {
        right: 0%;
        top: 70%;
      }
    }
    &__inner {
      max-width: 100%;
      margin: 0;
      padding: 120px 0; 
    }
    &__title{
      margin-top: 20px;
      max-width: 100%;
    }
  }
  .footer {
    padding-bottom: 10px;
    &__box--main {
      flex: 0 0 100%;
      display: flex;
      margin-bottom: 50px;
    }
    &__logo {
      margin-right: 20px;
      margin-bottom: 0;
    }
    &__text {
      max-width: 100%;
    }
    &__box-wrapper {
      min-height: 0;
    }
    &__box--using {
      flex: 0 0 40%;
      margin-bottom: 50px;
    }
    &__box--resources {
      flex: 0 0 40%;
      margin-bottom: 50px;
    }
    &__box--company {
      flex: 0 0 20%;
      margin-bottom: 50px;
    }
    &__box--follow {
      flex: 0 0 100%;
    }
    &__location {
      flex: 0 0 auto;
    }
    &__wrapper {
      flex-wrap: wrap;
      &--last {
        align-items: center;
      }
    }
    &__location-inner {
      position: static;
      padding: 0 10px;
    }
  }
}


@media (max-width: 768px) {
  .first {
    padding: 60px 0;
    &__slogan {
      font-size: 74px;
    }
  } 
  .company {
    padding: 60px 0;
    &__wrapper-img {
      flex: 0 0 100%;
    }
  }
  .products {
    &__aside-cell {
      transform: scale(0.85);
    }
  }
  .experience {
    padding: 60px 0;
    &__text {
      max-width: 100%;
      padding-left: 0;
    }
    &__example {
      display: block;
      margin-bottom: 100px;
    }
    &__example-box {
      max-width: 100%;
      text-align: center;
    }
  }
  .offer {
    &__title {
      font-size: 48px;
    }
    &__inner {
      padding: 60px 0 0;
    }
    &__wrapper {
      &:after {
        height: 150px;
        background-size: 70%;
        background-position: 100%;
      }
    }
  }
}

@media (max-width: 690px) {
  .footer {
    &__box--using {
      flex: 0 0 50%;
    }
    &__box--resources {
      flex: 0 0 50%;
    }
    &__box--company {
      flex: 0 0 50%;
    }
    &__box--follow {
      flex: 0 0 50%;
    }
  }
}

@media (max-width: 576px) {
  .big-slider {
    margin-bottom: 60px;
  }
  .header {
    &__logo {
      width: 140px;
    }
    &__login {
      display: none;
      position: absolute;
      min-width: 72px;
      right: 56px;
    }
  }
  #navigation-check:checked ~ .header__login {
    display: block;
  }
  .first {
    &__slogan {
      font-size: 50px;
      padding-right: 0;
      margin-bottom: 65px;
    }
    &__business-card {
      padding: 0 10px;
    }
    &__business-card--front {
      margin-bottom: 40px;
    }
  }
  .products {
    &__aside {
      max-width: 100%;
      flex-wrap: nowrap;
      margin: 30px 0;
    }
    &__aside-cell {
      transform: scale(0.55);
      width: calc(100%/6);
      min-width: auto;
    }
    &__content {
      margin-bottom: 20px;
    }
  }
  .experience{
    &__advantages-box {
      padding-right: 10px;
    }
    &__advantages-title {
      font-size: 24px;
      margin-bottom: 6px;
    }
  }
  .offer__title {
    font-size: 36px;
  }
  .footer {
    &__box--main {
      flex: 0 0 100%;
    }
    &__box--using {
      flex: 0 0 100%;
    }
    &__box--resources {
      flex: 0 0 100%;
    }
    &__box--company {
      flex: 0 0 100%;
    }
    &__box--follow {
      flex: 0 0 100%;
      margin-bottom: 50px;
    }
    &__wrapper--last {
      flex-direction: column;
    }
    &__copyright,
    &__box-btn-wrap {
      margin-bottom: 25px;
    }
  }
  .offer {
    &__img-box {
      &:after {
        width: 250px;
        height: 150px;
        background-size: 90%;
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0 15px;
  }
  .products__aside-cell {
    transform: scale(0.45);
  }
  .first__title {
    font-size: 24px;
  }
}